{% extends "templates/web.html" %}
{% block style %}
<style>
	{% include "templates/includes/login/login.css" %}
	{% include "www/css/bootstrap.css" %}
	
	/* prosadata code generation begin */
	@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .altura { 

      top:20px;
      padding-bottom:20px;

    }

    .tamano {
display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
  } 
  .img-tamano{

      width:150px;
      padding:10px;

    }

    .altura {

    	top:150px;


    }
.tamano {

  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.view {

background-color: #583086;
color: #fff;
}


	@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .altura { 

      top:20px;
      padding-bottom:20px;

    }

    .tamano {
}
display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
  }
  /* prosadata.com code generation end */
</style>
{% endblock %}

{% block page_content %}
<!-- prosadata code generation begin -->
<div class="container-fluid">
	<!--<form class="form-signin form-login" role="form">-->
	<form role="form">
	<div class="row"></div>
		<div class="row">
		<div class="col-md-offset-2 col-md-2">
		<!--<div class="col-md-offset-6 col-md-6">-->	
		  <!--<img src="{{ splash_image or "/assets/frappe/images/employee_control.jpg"}}" class="tamano">-->
			<img src="{{"/assets/frappe/images/client_messaging.jpg" }}" class="tamano" id="client_messaging">
		  <p style="font-family: DosisBold; font-size: 18px; text-align: center;"> Client Messaging </p>

		</div>
		<div class="col-md-2">
		  <img src="{{"/assets/frappe/images/work_orders.jpg" }}" class="tamano" id="work_orders">
		  <!--<img src="img/work_orders.jpg" class="tamano"/>-->
		  <p style="font-family: DosisBold; font-size: 18px; text-align: center;"> Work Orders </p>

		</div>
		<div class="col-md-2">
		  <img src="{{"/assets/frappe/images/scheduler.jpg" }}" class="tamano" id="account_overview" />
		  <p style="font-family: DosisBold; font-size: 18px; text-align: center;"> Account Overview </p>
		</div>
	</div> 


	</section>    

	
	</form> 
</div>
<footer style="background:#333;">
	<div class="container">
	<div class="row">


	<p style="font-family:CrimsonRoman; color:#fff; text-align: center; padding-top: 10px;">© 2017 COASTAL RANGE VINEYARDS. All rights reserved.</p>
	<img src="{{ "/assets/frappe/images/processsuccess.jpg" }}" width="15%" style="display: block;margin-left: auto;margin-right:auto;" />
	</div>


	</div> 
</footer> 	

<!-- prosadata.com code generation end -->
{% endblock %}
{% block script %}
<!-- prosadata code generation begin -->
<script>

window.disable_signup = {{ disable_signup and "true" or "false" }};

window.login = {};

login.bind_events = function() {
	//alert("page loaded");
	$( "#client_messaging" ).click(function() {
  			var path = "/sorry.html";
			window.location.href = path;
		});
	$( "#work_orders" ).click(function() {
  			var path = "/workOrder9.html";
			window.location.href = path;
		});
	$( "#account_overview" ).click(function() {
  			var path = "/sorry.html";
			window.location.href = path;
		});
	
}

frappe.ready(function() {
	login.bind_events();
});
</script>
<!-- prosadata.com code generation end -->
{% endblock %}