{% extends "templates/web.html" %}
{% block style %}
<style>
	{% include "templates/includes/login/login.css" %}
	{% include "www/css/bootstrap.css" %}
	
	/* prosadata code generation begin */
	@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .altura { 

      top:20px;
      padding-bottom:20px;

    }

    .tamano {
display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
  } 
  .img-tamano{

      width:150px;
      padding:10px;

    }

    .altura {

    	top:150px;


    }
.tamano {

  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.view {

background-color: #583086;
color: #fff;
}


	@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .altura { 

      top:20px;
      padding-bottom:20px;

    }

    .tamano {
}
display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
  }
  /* prosadata.com code generation end */
</style>
{% endblock %}

{% block page_content %}
<!-- prosadata code generation begin -->
<div class="container-fluid">
	<!--<form class="form-signin form-login" role="form">-->
	<form role="form">
	<div class="row"></div>
	<div class="row">
		<div class="col-md-offset-2 col-md-2">
			<img src="{{"/assets/frappe/images/work_orders.jpg" }}" class="tamano" id="work_orders">
			<p style="font-family: DosisBold; font-size: 18px; text-align: center;" > Work Orders </p>
		</div>
		<div class="col-md-2">
			<img src="{{"/assets/frappe/images/crew_attendance.jpg" }}" class="tamano" id="crew_attendance" />
			<p style="font-family: DosisBold; font-size: 18px; text-align: center;"> Crew Attendance</p>
		</div>
		<div class="col-md-2">
			<img src="{{"/assets/frappe/images/tool_shed.jpg" }}" class="tamano" id="tool_shed"/>
			<p style="font-family: DosisBold; font-size: 18px; text-align: center;"> Tool Shed </p>
		</div> 
		<div class="col-md-2">
			<img src="{{"/assets/frappe/images/client_database.jpg" }}" class="tamano" id="client_database"/>
			<p style="font-family: DosisBold; font-size: 18px; text-align: center;"> Client Database </p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-offset-2 col-md-2">
			<img src="{{"/assets/frappe/images/client_portal.jpg" }}" class="tamano" id="client_portal"/>
			<p style="font-family: DosisBold; font-size: 18px; text-align: center;"> Client Portal </p>
		</div>
		<div class="col-md-2">
			<img src="{{"/assets/frappe/images/vineyard_operations.jpg" }}" class="tamano" id="vineyard_operations"/>
			<p style="font-family: DosisBold; font-size: 18px; text-align: center;"> Vineyard Operations </p>
		</div>
		<div class="col-md-2">
			<img src="{{"/assets/frappe/images/mapping.jpg" }}" class="tamano" id="mapping"/>
			<p style="font-family: DosisBold; font-size: 18px; text-align: center;"> Mapping </p>
		</div>				
	</div>  


</section>    

	
	</form> 
</div>
<footer style="background:#333;">
	<div class="container">
	<div class="row">


	<p style="font-family:CrimsonRoman; color:#fff; text-align: center; padding-top: 10px;">© 2017 COASTAL RANGE VINEYARDS. All rights reserved.</p>
	<img src="{{ "/assets/frappe/images/processsuccess.jpg" }}" width="15%" style="display: block;margin-left: auto;margin-right:auto;" />
	</div>


	</div> 
</footer> 	

<!-- prosadata.com code generation end -->
{% endblock %}
{% block script %}
<!-- prosadata code generation begin -->
<script>

window.disable_signup = {{ disable_signup and "true" or "false" }};

window.login = {};

login.bind_events = function() {
	//alert("page loaded");
	$( "#work_orders" ).click(function() {
  			var path = "/WorkOrderLinks4.html";
			window.location.href = path;
		});
	$( "#crew_attendance" ).click(function() {
  			var path = "/TimeTrackingLinks5.html";
			window.location.href = path;
		});
	$( "#tool_shed" ).click(function() {
  			var path = "/tool_shed.html";
			window.location.href = path;
		});
	$( "#client_database" ).click(function() {
		var path = "/client_database23.html";
		window.location.href = path;
	});
	$( "#client_portal" ).click(function() {
		var path = "/client_menu3.html";
		window.location.href = path;
	});
	$( "#vineyard_operations" ).click(function() {
		var path = "/vineyard_List24.html";
		window.location.href = path;
	});
	$( "#mapping" ).click(function() {
		var path = "/mapping_links.html";
		window.location.href = path;
	});
	
}

frappe.ready(function() {
	login.bind_events();
});
</script>
<!-- prosadata.com code generation end -->
{% endblock %}