{% extends "templates/web.html" %}
{% block style %}
<style>
	{% include "templates/includes/login/login.css" %}
	  
	{% include "www/css/bootstrap.css" %}
  .img-tamano{

      width:150px;
      padding:10px;

    }

    .altura {

    	top:150px;


    }
.tamano {

  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.clockon {

background-color: #229a2a;
color: #fff;

}
.clockout {

background-color: #ad2525;
color: #fff;
}
.break {

background-color: #bfbf14;
color: #fff;
}
.jobcode {

background-color: #17468a;
color: #fff;
}
.view {

background-color: #583086;
color: #fff;
}


	@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .altura { 

      top:20px;
      padding-bottom:20px;

    }

    .tamano {
}
display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
  }
  
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>

{% endblock %}

	

{% block page_content %}
	<table>
	  <tr>
	    <th>Work order</th>
	    <th>Crew names assigned</th>
	  </tr>
      {% i = 0
        row = ""
        for cont in rowContent: 
          if i>0 :
            if rowContent[i] == rowContent[i-1]:
              row = row + cont['employee_name'] 
            else:
                %}
              <tr>
                <td>{{rowContent[i-1]['work_order']}}</td>
                <td>{{row}}</td>
              </tr>
              {%
                row = rowContent[i]['employee_name']%}
    	   {%else:
            row = cont['employee_name']
          i = i + 1
          %}
      {% endfor %}
      {% if i > 0:
        %}
        <tr>
          <td>{{rowContent[i-1]['work_order']}}</td>
          <td>{{row}}</td>
        </tr>
  </table>


{% endblock %}
{% block script %}
<script>


</script>
{% endblock %}