{% extends "templates/web.html" %}
{% block style %}
<style>
	{% include "templates/includes/login/login.css" %}
	/* prosadata code generation begin */
	/* prosadata.com code generation end */
</style>
{% endblock %}

{% block page_content %}
<!-- prosadata code generation begin -->
<div class="container-fluid">
	<p style="font-family: DosisBold; font-size: 18px; text-align: center;"> Sorry, not implemented yet.</p>
</div>
<!-- prosadata.com code generation end -->
{% endblock %}
{% block script %}
<script>
<!-- prosadata code generation begin -->
<!-- prosadata.com code generation end -->
</script>
{% endblock %}