{% extends "templates/web.html" %}
{% block style %}
<style>
	{% include "templates/includes/login/login.css" %}
	/* prosadata code generation begin */
	/* prosadata.com code generation end */
</style>
{% endblock %}

{% block page_content %}
<!-- prosadata code generation begin -->
<div class="container-fluid">
	<p style="font-family: DosisBold; font-size: 18px; text-align: center;">
		<a href="work_order_list3">Provides list of Active Work Orders</a>
	</p>
	<p style="font-family: DosisBold; font-size: 18px; text-align: center;">
		<a href="sorry">Client Name, Vineyard, Location, Job Decription</a>
	</p>
	<p style="font-family: DosisBold; font-size: 18px; text-align: center;">
		<a href="crew_names_assigned7">Crew Name Assigned to Each Work Order</a>
	</p>
		<p style="font-family: DosisBold; font-size: 18px; text-align: center;">
		<a href="to_do2">To Do List entry and Crew Member output</a>
	</p>
</div>
<!-- prosadata.com code generation end -->
{% endblock %}
{% block script %}
<script>
<!-- prosadata code generation begin -->
<!-- prosadata.com code generation end -->
</script>
{% endblock %}